// Photo strat

.Photo{
    position: relative;

    &__list{
        width: 100%;
        height: auto;
        background-color: $text;
        padding: 60px 35px;
    }

    &__list__menu{
        display: flex;
        align-items: center;
        grid-gap: 20px;
        li+li{
            color: $blue;
            a{
                color: $blue;
            }
        }
    }

    .gallery__dropdown{
        display: block;
    }

    &__list__link{
        @include fontAll(18px,700,$link);
        line-height: 100%;
    }

    &__item{
        margin-top: 30px;
    }

    &__mrx1{
        width: 100%;
        height: auto;
        position: relative;

        .slick-arrow{
            font-size: 0;
        }

        .slick-prev{
            background-color:$text;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            right: 100px;
            z-index: 100;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            @extend%transition;
            &::after{
                content: "";
                background-image: url(../../assets/foto/left.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 10px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                @extend%transition;
            }

            &:hover::after{
                background-image: url(../../assets/foto/left_1.png);
            }
        }

        .slick-next{
            background-color:$text;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 100;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            @extend%transition;
            &::after{
                content: "";
                background-image: url(../../assets/foto/right.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 10px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                @extend%transition;
            }

            &:hover::after{
                background-image: url(../../assets/foto/right_1.png);
            }
        }
    }


    &__mrx2{
        margin-top: 40px;
    }

    &__mrx1__img{
        @include fiximg(100%,700px,fill);
        position: relative;
    }

    &__mrx1__title__h2{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color:rgba(36, 140, 198, 0.7);
        width: 100%;
        padding: 20px 150px 20px 30px;
        @include fontAll(24px,600,$text);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__mrx2__img{
        @include fiximg(200px !important,150px,true);
        @extend%transition;
        &:hover{
            border-bottom: 10px solid $blue;
        }

        &:focus{
            border-bottom: 10px solid $blue;
        }
    }
}

// Photo end


@media (max-width:1350px){
    .Photo__mrx1__img {
        height: 600px;
    }

    .Photo__mrx2__img {
        width: 180px !important;
        height: 130px;
    }

    .Photo__mrx2 {
        margin-top: 30px;
    }

    .Photo__mrx1__title__h2 {
        font-size: 20px;
    }

    .Photo__mrx1 .slick-prev{
        bottom:15px;
    }

    .Photo__mrx1 .slick-next{
        bottom:15px;
    }
}

@media (max-width:1100px){
    .Photo__list__link {
        font-size: 16px;
    }

    .Photo__mrx1__img {
        height: 550px;
    }

    .Photo__mrx2__img {
        width: 160px !important;
        height: 110px;
    }
}


@media (max-width:900px){
    .Photo__mrx1__img {
        height: 500px;
    }
    .Photo__mrx1__title__h2 {
        font-size: 16px;
    }

    .Photo__mrx1 .slick-prev{
        bottom:14px;
    }

    .Photo__mrx1 .slick-next{
        bottom:14px;
    }
}

@media (max-width:800px){
    .Photo__mrx1__img {
        height: 400px;
    }
}


@media (max-width:700px){
    .Photo__list{
        padding: 30px;
    }

    .Photo__mrx1__img {
        height: 350px;
    }
}

@media (max-width:600px){
    .Photo__mrx2__img {
        width: 150px !important;
        height: 100px;
    }

    .Photo__mrx2 {
        margin-top: 20px;
    }

    .Photo__mrx1 .slick-prev{
        right:70px;
    }

    .Photo__mrx1 .slick-next{
        right:10px;
    }

    .Photo__mrx1__title__h2 {
        padding: 20px 110px 20px 20px;
    }

    .Photo__list__menu {
        grid-gap: 15px;
    }
}

@media (max-width:500px){
    .Photo__mrx1__img {
        height: 300px;
    }
}


@media (max-width:400px){
    .Photo__mrx1__img {
        height: 250px;
    }

    .Photo__mrx2__img {
        width: 130px !important;
        height: 90px;
    }
}

@media (max-width:350px){
    .Photo__mrx1__img {
        height: 200px;
    }
}