// video strat

.video{
    position: relative;

    &__list{
        width: 100%;
        height: 100%;
        min-height: 820px;
        max-height: 100%;
        padding: 60px 35px;
    }

    &__mrx1{
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 50px;
    }

    &__mrx1__video{
       video{
           width: 100%;
           height: 800px;
           object-fit: contain;
           background-color:#0d0d0d87;
           position: relative;
       }
    }

    &__mrx2__img{
        position: relative;
        video{
           width: 100%;
           height: 270px;
           object-fit: cover;
        }

        span{
            background-color:rgba(32, 75, 99, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items:center;
            justify-content: center;
            @extend%transition;
            @include fontAll(20px,600,$blue);
            i{
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                background-color:$text;
                @extend%transition;
                line-height: 60px;
            } 
        }
    }

    &__mrx2__item{
        width: 300px !important;
        height: auto;
        background-color: #202020;
        box-shadow: 0px 4px 8px rgb(173,161,161,55%);
        @extend%transition;
    }

    &__mrx2__title__h2{
        @include fontAll(20px,600,$link);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 20px 30px;
        @extend%transition;
    }
}

.video__mrx2__item:hover > .video__mrx2__img span i{
    background-color:$blue;
}

.video__mrx2__item:hover > .video__mrx2__img span{
    color:$text;
}

.video__mrx2__item:hover > .video__mrx2__title__h2{
    color:$blue;
}

.video__mrx2__item:focus > .video__mrx2__img span i{
    background-color:$blue;
}

.video__mrx2__item:focus > .video__mrx2__img span{
    color:$text;
}

.video__mrx2__item:focus > .video__mrx2__title__h2{
    color:$blue;
}

// video end


@media (max-width: 1830px){
    .video__mrx2__item {
        width: 90%!important;
        height: auto;
    }
}


@media (max-width:1300px){
    .video__mrx1__video video {
        height: 650px;
    }

    .video__list{
        height: 100%;
        min-height: auto;
        max-height: auto;
    }

    .video__mrx2__img video {
        height: 200px;
    }

    .video__mrx2__title__h2 {
        font-size: 18px;
        padding: 20px 20px;
    }

    .video__mrx1 {
        margin-bottom: 30px;
    }
}


@media (max-width:1000px){
    .video__mrx1__video video {
        height: 550px;
    }

    .video__mrx2__item {
        width: 95% !important;
    }

    .video__mrx1 {
        margin-bottom: 20px;
    }
}


@media (max-width:850px){
    .video__mrx1__video video {
        height: 450px;
    }

    .video__mrx2__item {
        width: 95% !important;
    }

    .video__mrx2__title__h2 {
        font-size: 16px;
        padding: 20px 10px;
    }

    .video__mrx2__img video {
        height: 180px;
    }
}


@media (max-width:700px){
    .video__mrx1__video video {
        height: 350px;
    }

    .video__mrx2__img video {
        height: 160px;
    }

    .video__list{
        padding: 30px;
    }

    .video__mrx2__img span i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .video__mrx2__img span {
        font-size: 18px;
    }

}


@media (max-width:500px){
    .video__mrx1__video video {
        height: 250px;
    }

    .video__mrx2__img video {
        height: 160px;
    }

    .video__mrx2__img span i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .video__mrx2__img span {
        font-size: 16px;
    }
}


@media (max-width:450px){
    .video__mrx2__img video {
        height: 130px;
    }

    .video__mrx2__title__h2 {
        font-size: 14px;
    }
}


@media (max-width:380px){
    .video__mrx2__img video {
        height: 100px;
    }

    .video__mrx1__video video {
        height: 200px;
    }
}