@import './files/color';
@import './files/fonts';
@import './files/mixins';
@import '_sajara';
@import '_news';
@import '_news_in';
@import '_gallery';
@import '_Photo_Gallery';
@import '_video';
@import '_contacts';

body{
    font-family: Arial, sans-serif;
    background-image: url(../foto/fon_mrx.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

h1,h2{
    font-family: 'Roboto Slab', serif;
}

.container{
    max-width: 1760px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

// header strat

.header__burger{
    display: none;
}

.header{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: auto;
    background-color:$fon;
    box-shadow: 0px 4px 8px rgb(173,161,161,55%);

    &__logo{
        @include fiximg(50px,50px,true);
        margin-right: 60px;
    }

    &__list{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }

    &__item{
        display: flex;
        align-items:center;
        grid-gap: 40px;
    }

    &__menu{
        display: flex;
        align-items:center;
        position: relative;
        grid-gap: 70px;
        li{
            line-height: 100%;
            padding: 30px 0;
            position: relative;
        }
    }

    &__dropdown{
        position: absolute;
        z-index: 100;
        top: 90%;
        left: 0;
        background-color:#202020;
        box-shadow: 0px 4px 8px rgb(173,161,161,55%);
        padding: 10px 20px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        li{
            padding: 8px 0;
        }
    }

    &__dropdown_link{
        @include fontAll(16px,600,$link);
        @extend%transition;
        &:hover{
            color:$blue;
        }
    }

    &__menu__link{
        @include fontAll(18px,700,$link);
        line-height: 100%;
        position: relative;
        padding-bottom: 30px;
        @extend%transition;

        &:hover{
            color:$blue;
        }

        &::after{
            content:"";
            @extend%transition;
            display: none;
            background-color:$blue;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 4px 4px 0px 0px;
            -webkit-border-radius: 4px 4px 0px 0px;
            -moz-border-radius: 4px 4px 0px 0px;
            -ms-border-radius: 4px 4px 0px 0px;
            -o-border-radius: 4px 4px 0px 0px;
        }
    }

    &__form{
        width: 240px;
        height: auto;
        position: relative;
    }

    &__form__input{
        width: 100%;
        height: 40px;
        background-color: #F8F8F8;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        outline: none;
        padding: 10px 20px;
        border:none;
        @include fontAll(16px,400,#648699);

        &::placeholder{
            @include fontAll(16px,400,#648699);
            line-height: 100%;
        }
    } 
    
    &__form__button{
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        background-color:$blue;
        @include fontAll(18px,400,$text);
        text-align: center;
        border-radius:40px;
        -webkit-border-radius:40px;
        -moz-border-radius:40px;
        -ms-border-radius:40px;
        -o-border-radius:40px;
    }

    &__uz__menu{
        width: 80px;
        height: 40px;
        background-color: $blue;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        position: relative;
    }

    &__uz__menu__link{
        display: flex;
        align-items:center;
        justify-content: center;
        @include fontAll(16px,700,$text);
        line-height: 100%;
        text-transform: uppercase;
        display: block;
        padding: 12px 20px;
        text-align: center;
        span{
            margin-left: 2px;
        }
    }

    &__ru__none{
        position: absolute;
        z-index: 50;
        left: 0;
        display: none;
        top:35px;
        width: 100%;
        height: auto;
        background-color: $blue;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        li+li{
            border-top: 2px solid #648699;
        }
    }
}

.dropdown{
    display: none;
}

.header__uz__menu li:hover > .header__ru__none{
    display: block;
}

.header__uz__menu li:focus-within > .header__ru__none{
    display: block;
}

.header__menu li:hover > .header__menu__link::after{
    display: block;
}

.header__menu li:hover > .dropdown{
    display: block;
}

.header__menu li:focus-within > .dropdown{
    display: block;
}

// header end


// main start

.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-image: url(../foto/fon_mrx.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__title__h1{
        text-align: center;
        @include fontAll(70px,600,$blue);
        line-height: 100%;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__title__h2{
        text-align: center;
        @include fontAll(40px,600,$link);
        line-height: 100%;
        padding-bottom: 20px;
    }

    &__item__text{
        @include fontAll(24px,400,$link);
        line-height: 28px;
        text-align: center;
        padding-bottom: 25px;
    }

    &__title__h3{
        @include fontAll(24px,700,$link);
        line-height: 28px;
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 20px;
        &::after{
            content: "";
            background-color: rgba(32, 75, 99, 0.3);
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            width: 120px;
            height: 5px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0);
            -webkit-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -o-transform: translate(-50%,0);
        }
    }

    &__text{
        @include fontAll(20px,400,$link);
        line-height: 34px;
        text-align: center;
        padding-bottom: 40px;
    }

    &__link{
        display: inline-block;
        padding: 15px 50px;
        background-color:$blue;
        @include fontAll(16px,700,$text);
        line-height: 100%;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        border-radius:25px;
        -webkit-border-radius:25px;
        -moz-border-radius:25px;
        -ms-border-radius:25px;
        -o-border-radius:25px;
        z-index: 0;

        &::after{
            content: "";
            background-color:rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            border-radius: 25px 0px 0px 25px;
            -webkit-border-radius: 25px 0px 0px 25px;
            -moz-border-radius: 25px 0px 0px 25px;
            -ms-border-radius: 25px 0px 0px 25px;
            -o-border-radius: 25px 0px 0px 25px;
        }

        &::before{
            content: "";
            background-color:rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            border-radius: 0px 25px 25px 0px;
            -webkit-border-radius: 0px 25px 25px 0px;
            -moz-border-radius: 0px 25px 25px 0px;
            -ms-border-radius: 0px 25px 25px 0px;
            -o-border-radius: 0px 25px 25px 0px;
        }
    }
}

// main end


// footer start

.footer{
    width: 100%;
    height: auto;
    background-color:$fon;
    box-shadow: 0px -3px 12px 0px rgb(173,161,161,55%);

    &__menu__link{
        @include fontAll(16px,400,$text);
        line-height: 40px;
        @extend%transition;

        &:hover{
            color:#79CFFF;
        }
    }

    &__menu{
        li{
            line-height: 40px;
        }
    }

    &__item{
        display: flex;
        align-items:flex-start;
        grid-gap: 100px;
        width: 50%;
    }

    &__list{
        padding: 35px 0;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
    }

    &__title__h2{
        @include fontAll(24px,600,$text);
        line-height: 100%;
        padding-bottom: 15px;
    }

    &__text{
        @include fontAll(14px,400,$text);
        line-height: 22px;
    }

    &__bottom{
        background-color:$fon;
        padding: 20px 0;
    }

    &__bottom__list{
        display: flex;
        align-items:center;
        justify-content: center;
    }

    &__bottom__link{
        @include fontAll(16px,400,#5D91AE);
        line-height: 100%;
    }

    &__address{
        max-width: 250px;
        li+li{
            padding-top: 20px;
        }
    }

    &__address__link{
        @include fontAll(18px,400,$text);
        line-height: 120%;
        display: flex;
        align-items:flex-start;
        grid-gap: 10px;

        span{
            color:$blue;
        }
    }
}

// footer end


@media (max-width:1920px){
    .header{
        padding-left: 80px;
        padding-right: 80px;
    }

    .news,
    .footer__list,
    .news_in,
    .gallery,
    .Photo,
    .video,
    .contacts,
    .page_404_row{
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media (max-width:1380px){
    .header{
        padding-left: 60px;
        padding-right: 60px;
    }

    .news,
    .footer__list,
    .news_in,
    .gallery,
    .Photo,
    .video,
    .contacts,
    .page_404_row{
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media (max-width:1200px){
    .main__title__h1 {
        font-size: 60px;
    }

    .main__title__h2 {
        font-size: 34px;
    }

    .main__item__text {
        font-size: 20px;
        padding-bottom: 15px;
    }

    .main__title__h3 {
        font-size: 20px;
        padding-bottom: 18px;
        margin-bottom: 10px;
    }

    .main__text {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 20px;
    }

    .main__link {
        font-size: 14px;
        padding: 15px 40px;
    }
}


@media (max-width:1250px){
    .header__menu {
        display: flex;
        align-items: flex-start;
        grid-gap: 0px;
        position: fixed;
        z-index: 100;
        flex-direction: column;
        background-color: #202020f7;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 30px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    }

    .header__burger__none{
        display: none;
    }

    .header__burger{
        display: block;
    }

    .header__burger__block{
        display: block;
    }

    .header__item {
        padding: 10px 0;
    }

    .header__burger__start{
       width: 20px;
       height: 20px;
       display: block;
       text-align: center;
       @include fontAll(18px,600,$link);
       line-height: 100%; 
    }

    .header__menu li:hover > .header__menu__link::after {
        display: none;
    }

    .header__menu li{
        padding: 20px 0;
    }

    .header__dropdown {
        top: 70%;
    }
}


@media (max-width:1020px){
    .footer__list{
        flex-direction: column;
        grid-gap: 30px;
    }
    .footer__item{
        width: 100%;
        justify-content: space-between;
        grid-gap: 50px;
    }

    .footer__address{
        max-width: 100%;
    }

    .footer__title__h2 {
        font-size: 22px;
    }

    .main__list {
        max-width: 100%;
        width: 100%;
        padding: 0 60px;
    }
}


@media (max-width:650px){
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }

    .main__list{
        padding: 0 30px;
    }

    .news,
    .footer__list,
    .news_in,
    .gallery,
    .Photo,
    .video,
    .contacts,
    .page_404_row{
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer__address__link {
        font-size: 14px;
    }

    .footer__menu__link,
    .footer__bottom__link {
        font-size: 14px;
    }

    .header__menu {
        width: 80%;
    }


    .main__title__h1 {
        font-size: 50px;
    }

    .main__title__h2 {
        font-size: 30px;
    }

    .main__item__text {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .main__title__h3 {
        font-size: 20px;
        padding-bottom: 18px;
        margin-bottom: 10px;
    }

    .main__text {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    .main__link {
        font-size: 14px;
        padding: 15px 40px;
    }

    .four_zero_four_bg {
        height: 400px;
    }
}

@media (max-width:480px){
    .header__form{
        display: none;
    }

    .footer__item {
        grid-gap: 20px;
        flex-direction: column;
    }

    .main__title__h1 {
        font-size: 46px;
    }

    .main__title__h2 {
        font-size: 28px;
    }

    .main__item__text {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .main__title__h3 {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .main__title__h3::after {
        width: 90px;
    }

    .main__link {
        font-size: 13px;
        padding: 12px 35px;
    }
}

@media (max-width:450px){
    .news,
    .news_in,
    .gallery,
    .Photo,
    .video,
    .contacts{
        margin-left: 0px;
        margin-right: 0px;
    }

    .main__title__h1 {
        font-size: 40px;
    }
}

@media (max-width:400px){
    .main__title__h1 {
        font-size: 36px;
    }

    .main__title__h2 {
        font-size: 24px;
    }

    .main__item__text {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .main__title__h3 {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .main__text {
        font-size: 14px;
    }

    .four_zero_four_bg {
        height: 300px;
    }

    .four_zero_four_bg h1 {
        font-size: 60px;
    }
}

@media (max-width:370px){
    .main__title__h1 {
        font-size: 34px;
    }

    .main__title__h2 {
        font-size: 22px;
        padding-bottom: 10px;
    }
}